<div class="ps-product-customizer"></div>

{% schema %}
{
  "name": "PS Product Customizer",
  "tag": "section",
  "class": "section",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": []
}
{% endschema %}
